---
layout: default
---

<main>
  {% for post in site.posts %}
  <article>
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <div> {{ post.excerpt }} </div>
  </article>
  {% endfor %}
</main>
