
{% if page.mermaid == true %}
<script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.0/mermaid.min.js" integrity="sha512-gx05X612uoaolzJ5Ee/786b3th+qzAm90TOvRwZJwnE8yr0sHQG8eLxdR0/Hbqc2IFh2mWHzzXk79g3atNSwsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer="defer" src="{{ site.baseurl }} /assets/js/init-mermaid.js"></script>
{% endif %}
