<meta charset="utf-8"/>
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self' cdnjs.cloudflare.com;
  base-uri 'self';
  style-src 'self' fonts.googleapis.com cdnsjs.cloudflare.com;
  style-src-attr 'self' cdnjs.cloudflare.com 'unsafe-inline';
  style-src-elem 'self' cdnjs.cloudflare.com fonts.googleapis.com 'unsafe-inline';
  img-src 'self' media.tenor.com;
  font-src fonts.gstatic.com;
  script-src-elem 'self' cdnjs.cloudflare.com;
  child-src 'none';
  script-src 'self';
"/>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes'/>

