{% if site.data.social-media %}
  {% assign sm = site.data.social-media %}
  {% for entry in sm %}
    {% assign key = entry | first %}
    {% if sm[key].id %}
<a href="{{ sm[key].href }}{{ sm[key].id }}" title="Link to {{ sm[key].title }}">
    <svg viewBox="0 0 1 1" width="100%">
        <use href="/assets/img/icon-{{ sm[key].icon }}.svg#t"/>
    </svg>
</a>

    {% endif %}
  {% endfor %}
{% endif %}
