/*
 * SPDX-FileCopyrightText: 2015 Barry Clark <barry@barryclark.co>
 * SPDX-FileCopyrightText: 2024 Vicente Maroto Garzón <vicente.maroto.garzon@c512l.dev>
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */
@use "theme";
@use "reset";
@use "highlights";

@mixin no-break {
  white-space: nowrap;
  word-break: keep-all;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin round-edges {
  border-radius: 4px;
}

html, body, .container {
  height: 100%;
}

html {
  font-size: 100%;
  body {
    background: theme.$backgroundColor;
    font: 18px/1.4 theme.$g-font-family;
    color: theme.$textColor;
    footer {
      border-top: 1px solid theme.$separatorColor;
      background-color: theme.$backgroundColor;
      position: sticky;
      bottom: 0;
      padding: 2% 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      a {
        padding: 0 2%;
      }
      a, a svg {
        height: 100%;
      }
    }
    a {
      display: inline-block;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$g-font-family;
  color: theme.$textColor;
  font-weight: bold;
  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  margin: 15px 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: theme.$textColor;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: theme.$linkColor;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint {

  img,
  svg {
    max-width: none;
  }
}

.date {
  font-style: italic;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid theme.$separatorColor;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img,
  svg {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: theme.$textColor;
  cursor: pointer;
  font-family: theme.$g-font-family;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: theme.$g-font-family;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: theme.$textColor;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

main {
  &>article{
    border-bottom: 1px solid theme.$separatorColor;
  }
}

article {
  padding: 1em 0;
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid gray;
    padding: 0.1em 1em;
    
  }
}

article {
  .language-plaintext {
    @include round-edges;
    @include no-break;
  }

  p a:not(img):not(svg) {
    color: theme.$linkColor;
    @include round-edges;
    @include no-break;
  }
  div.highlight {
    font-size: 90%;
    @include round-edges
  }

  div.mermaid {
    display: flex !important;
    justify-content: center;
  }
}

.highlighter-rouge{
  overflow-x: scroll;
  background-color: theme.$quoteBackgroundColor;
}
