/*
 * SPDX-FileCopyrightText: 2015 Barry Clark <barry@barryclark.co>
 * SPDX-FileCopyrightText: 2024 Vicente Maroto Garzón <vicente.maroto.garzon@c512l.dev>
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

// Theme variables
$backgroundColor: black;
$textColor: white;
$separatorColor: white;
$linkColor: #ff3939;
$quoteBackgroundColor: #161B22;
// Main font
$g-font-family: 'Source Code Pro','Noto Color Emoji', monospace;
$g-font-optical-sizing: auto;
