<!DOCTYPE html>
<html lang="{{ site.locale }}">

<head>
  {% include meta.html %}
  {% seo %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - Atom Feed"
    href="{{ site.baseurl }}/feed.xml" />
  <!-- CDNJS Preconnect -->
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Noto Color Emoji Font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
  <!-- Source Code Pro Font -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"rel="stylesheet">
  <!-- Main page style -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" media="all"
    crossorigin="crossorigin" />
  <!-- Asset Preload -->
  <link rel="preload" type="image/svg+xml" as="image" href="/favicon.svg"/>
  <!-- Favicon -->
  <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg">
</head>

<body>
  <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <svg role="img" aria-label="Blog Logo">
            <image width="100%" height="100%" href="/favicon.svg" />
          </svg>
        </a>
        <div class="site-info">
          <h1 class="site-name">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
          </h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>
      </header>
    {{ content }}
    <footer>
      {% include social-media-links.html %}
    </footer>
  </div>
</body>

</html>
