---
layout: default
---
{% include mermaid.html %}

<main>
  <article>
    {% if page.show_title != false %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    <div>
      {{ content }}
    </div>
    {% if page.date %}
    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
    {% endif %}
  </article>
</main>
